

 --------------------------------------------------------------------------------------------------------------------------------------
|                                                             Generation: 1                                                            | 
 --------------------------------------------------------------------------------------------------------------------------------------
| Individual                    |         Fitness         |          RPB0           |          ADF0           |          ADF1           | 
 --------------------------------------------------------------------------------------------------------------------------------------
|                               |    Raw     |  Adjusted  |   Nodes    |   Depth    |   Nodes    |   Depth    |   Nodes    |   Depth    | 
|              Best run.        |      0.000 |    0.00000 |     42     |     42     |     42     |     42     |     42     |     42     | 
|              Generation mean  |       2.00 |    3.00000 |     5      |     8      |     13     |     21     |     34     |     55     | 
|              Worst generation |       1.00 |    2.00000 |     42     |     42     |     42     |     42     |     42     |     42     | 
 --------------------------------------------------------------------------------------------------------------------------------------
| Time (ms)                     |                  Population mean                  |                 Total population                  | 
 --------------------------------------------------------------------------------------------------------------------------------------
|              Breeding         |                         1                         |                         2                         | 
|              Evaluation       |                         2                         |                         2                         | 
 --------------------------------------------------------------------------------------------------------------------------------------
| New best individual           |         Fitness         |          RPB0           |          ADF0           |          ADF1           | 
 --------------------------------------------------------------------------------------------------------------------------------------
|                               |    Raw     |  Adjusted  |   Nodes    |   Depth    |   Nodes    |   Depth    |   Nodes    |   Depth    | 
|              Individual       |      0.000 |    0.00000 |     42     |     42     |     42     |     42     |     42     |     42     | 
 --------------------------------------------------------------------------------------------------------------------------------------

