

 ---------------------------------------------------------------------------------------------------------------------------------------
|                                                             Generación: 1                                                             | 
 ---------------------------------------------------------------------------------------------------------------------------------------
| Individuo                     |         Fitness         |          RBP0           |          ADF0           |          ADF1           | 
 ---------------------------------------------------------------------------------------------------------------------------------------
|                               |    Raw     |  Ajustado  |   Nodos    |   Prof.    |   Nodos    |   Prof.    |   Nodos    |   Prof.    | 
|              Mejor ejec.      |      1,230 |    0,23000 |     3      |     5      |     3      |     5      |     3      |     5      | 
|              Media generación |       42,3 |    0,10000 |     3      |     5      |     8      |     13     |     21     |     34     | 
|              Peor generación  |       1,23 |    0,23000 |     3      |     5      |     3      |     5      |     3      |     5      | 
 ---------------------------------------------------------------------------------------------------------------------------------------
| Tiempo (ms)                   |                  Media población                  |                  Población total                  | 
 ---------------------------------------------------------------------------------------------------------------------------------------
|              Evolución        |                        1.3                        |                        100                        | 
|              Evaluacion       |                        1.3                        |                        100                        | 
 ---------------------------------------------------------------------------------------------------------------------------------------
| Mejor individuo nuevo         |         Fitness         |          RBP0           |          ADF0           |          ADF1           | 
 ---------------------------------------------------------------------------------------------------------------------------------------
|                               |    Raw     |  Ajustado  |   Nodos    |   Prof.    |   Nodos    |   Prof.    |   Nodos    |   Prof.    | 
|              Individuo        |      1,230 |    0,23000 |     3      |     5      |     3      |     5      |     3      |     5      | 
 ---------------------------------------------------------------------------------------------------------------------------------------
RPB0:
(is 	a 
		sample 
	tree) 
	
ADF0:
(is 	a 
		sample 
	tree) 
	
ADF1:
(is 	a 
		sample 
	tree) 
	

