

 ----------------------------------------------------------------------------------
|                                   Generation: 1                                  | 
 ----------------------------------------------------------------------------------
| Individual                    |         Fitness         |          RBP0           | 
 ----------------------------------------------------------------------------------
|                               |    Raw     |  Adjusted  |   Nodes    |   Depth    | 
|              Best run.        |      1.230 |    0.23000 |     3      |     5      | 
|              Generation mean  |       42.3 |    0.10000 |     3      |     5      | 
|              Worst generation |       1.23 |    0.23000 |     3      |     5      | 
 ----------------------------------------------------------------------------------
| Time (ms)                     |     Population mean     |    Total population     | 
 ----------------------------------------------------------------------------------
|              Breeding         |           1.3           |           100           | 
|              Evaluation       |           1.3           |           100           | 
 ----------------------------------------------------------------------------------
