

 -----------------------------------------------------------------------------------
|                                   Generación: 1                                   | 
 -----------------------------------------------------------------------------------
| Individuo                     |         Fitness         |          RBP0           | 
 -----------------------------------------------------------------------------------
|                               |    Raw     |  Ajustado  |   Nodos    |   Prof.    | 
|              Mejor ejec.      |      1.230 |    0.23000 |     3      |     5      | 
|              Media generación |       42.3 |    0.10000 |     3      |     5      | 
|              Peor generación  |       1.23 |    0.23000 |     3      |     5      | 
 -----------------------------------------------------------------------------------
| Tiempo (ms)                   |     Media población     |     Población total     | 
 -----------------------------------------------------------------------------------
|              Evolución        |           1.3           |           100           | 
|              Evaluacion       |           1.3           |           100           | 
 -----------------------------------------------------------------------------------
